Flask==2.2.5
requests
pypdf
cryptography>=42.0.0

pandas
gspread
gspread_dataframe
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-generativeai

selenium

pdf2image
pillow
